* {}
html {}
body {
  font-size: 16px;
  line-height: 1.46em;

  margin: 0;

}
header {
  display: block;
  border-radius: 1em;
  
  background-color: blue;
  padding: 10em;
  text-align: center;
}

h1 {
  font-size: 3em;
}

#carte {
  display: block;
  height: 20em;
  background-image: url("./img/background.png");
}

#chat {


}
