* {}
html {}
body {
  font-size: 16px;
  line-height: 1.46em;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);



}

body > div {

}

header {
  display: block;
  border-radius: 1em;

  background-color: blue;
  padding: 5em;
  text-align: center;

  grid-column: 1/4;
  grid-row: 1;
  
}

h1 {
  font-size: 3em;
}

#carte {
  display: block;
  width: 100%;


}

#chat {
  background-color: grey;

}
