* {}
html {}
body {
  font-size: 16px;
  line-height: 1.46em;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);



}

body > div {

}

header {
  display: block;
  border-radius: 1em;

  background-color: blue;
  padding: 5em;
  text-align: center;

  grid-column: 1/9;
  grid-row: 1;

}

h1 {
  font-size: 3em;
}

#carte {
  display: block;
  /* width: 100%; */
  grid-column: 1/7;
  grid-row: 2;

  
}

#carte img {
  display: block;
  width: 100%;
  height: auto;
}

#chat {
  background-color: grey;

}
